@import '../../../../styles/variables.module.scss';

.customInput {
  height: $size-48;
  border-radius: $size-8;
  padding: 0 $size-16;
  background-color: $fogBackground;
  border: 1px solid $fogBackground;
  &:hover {
    border: 1px solid $primaryBase;
  }
  input {
    font-weight: 400;
    color: $coalDarker;
    &::placeholder {
      color: $coalDark;
      opacity: 1;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 $size-30 $fogBackground inset !important;
      -webkit-font-size-delta: $size-16;
      -webkit-text-fill-color: $coalDarker;
    }
  }
  input[type="password"] {
    letter-spacing: $size-3 !important;
    &::placeholder {
      letter-spacing: normal !important;
    }
  }
}
.focusInput {
  border: 1px solid $primaryBase;
}
.errorInput {
  border: 1px solid $redBase;
}
.multiLineInput {
  padding: 11px 16px;
  font-weight: 400;
  font-size: 16px;
  color: $coalDarker;
  & textarea {
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      color: $coalDark;
      opacity: 1;
    }
  }
  &customInput {
    height: unset;
  }
}
.errorMessage{
  margin-top: 4px;
  color: $redBase;
  font-size: 0.875rem;
  line-height: 22px;
}
.title{
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 20px;
  margin-bottom: 4px;
  color: $coalDarkest;
}