@import '../../../../styles/variables.module.scss';

.rangeCustomInput {
    height: $size-50;
    display: flex;
    align-items: center;
    .scrollGroup {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0 $size-24;
        flex: 1;
        
        .range {
            -webkit-appearance: none;
            position: absolute;
            height: $size-6;
            width: 100%;
            border-radius: $size-4;
            background: transparent;
            cursor: pointer;
    
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                position: relative;
                height: $size-12;
                width: $size-12;
                border-radius: 50%;
                background: #6EB43F;
                z-index: 3;
            }
        }
    
        .timeShow {
            background: $primaryLightest;
            padding: $size-2 $size-8;
            position: absolute;
            border-radius: $size-4;
            bottom: $size-22;
            transform: translateX(-50%);
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;

            &.show {
                display: block;
            }
    
            .time {
                font-size: $size-14;
                line-height: $size-22;
                color: $primaryDarker;
            }
        }

        .scroll {
            height: $size-6;
            width: 100%;
            background: $coalLighter;
            border-radius: $size-4;
            display: flex;
            justify-content: space-between;
            .point {
                z-index: 2;
                width: $size-6;
                cursor: pointer;
    
                .circle {
                    width: $size-6;
                    height: $size-6;
                    border-radius: 50%;
                    background: white;
                    border: $size-1 solid $primaryBase;
                }
    
                .value {
                    margin-top: $size-6;
                    font-size: $size-12;
                    line-height: $size-18;
                    transform: translateX(-$size-10);
                }
            }
            .specialNode {
                width: $size-6;
                height: $size-6;
                border-radius: 50%;
                background: $orangeBase;
                position: absolute;
                left: $size-62;
            }
        }
    }
}

