@import "../../../styles/variables.module.scss";

.bundle {
  .bundleTitle {
    margin-bottom: $size-12;
    margin-top: $size-24;
    font-weight: 500;
    font-size: $size-16;
    line-height: $size-26;
    color: $coalDarker;
  }
  .bundleItem {
    display: flex;
    margin-bottom: $size-8;
    .bunleItemIcon {
      width: $size-18;
      height: $size-18;
    }
    .bundleItemTitle {
      margin-left: $size-12;
      font-size: $size-14;
      line-height: $size-22;
      color: $coalDarkest;
    }
  }
}

@media only screen and (min-width: 600px) {
  .bundle {
    .bundleTitle {
      font-size: $size-20;
    }
    .bundleItem {
      .bunleItemIcon{
        margin-top: $size-4;
      }
      .bundleItemTitle {
        font-size: $size-16;
        line-height: $size-26;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .bundle {
    .bundleItem {
      .bunleItemIcon{
        margin-top: $size-4;
      }
      .bundleItemTitle {
        font-size: $size-18;
      }
    }
  }
}
