@import "../../../styles/variables.module.scss";

.ant-notification {
  z-index: 1500;
  inset: 1.5rem auto auto 50%;
  transform: translateX(-50%);
  z-index: 3000;
  .ant-notification-notice {
    font-family: 'Cera Pro';
    width: 600px;
    padding: 1rem 3.25rem 1rem 1rem;
    border-radius: 0.75rem;
    background-color: #FFE6E9;
    .ant-notification-notice-close {
      right: 0.75rem !important;
    }
    .ant-notification-notice-content {
      .ant-notification-notice-with-icon {
        .ant-notification-notice-icon {
          margin-top: 1rem;
          font-size: 2rem;
          margin-top: 0.25rem;
        }
        .ant-notification-notice-message {
          font-size: 1.125rem;
          font-weight: 500;
        }
        .ant-notification-notice-description {
          font-size: 0.875rem;
        }
      }
    } 
    &-warning {
      background-color: $orangeLightest;
      .ant-notification-notice-content {
        .ant-notification-notice-with-icon {
          .ant-notification-notice-icon {
            color: $orangeBase;
          }
        }
      }
    }
    &-success {
      background-color: $primaryLightest;
      .ant-notification-notice-content {
        .ant-notification-notice-with-icon {
          .ant-notification-notice-icon {
            color: $primaryDark;
          }
        }
      }
    }
    &-error {
      background-color: #FFE6E9;
      .ant-notification-notice-content {
        .ant-notification-notice-with-icon {
          .ant-notification-notice-icon {
            color: #EF2641;
          }
        }
      }
    }
    &-info {
      background-color: $blueLightest;
      .ant-notification-notice-content {
        .ant-notification-notice-with-icon {
          .ant-notification-notice-icon {
            color: $blueBase;
          }
        }
      }
    }
    &-close {
      &-x {
        font-size: 0.785rem;
        font-weight: 500;
      }
    }
  }
}

.ant-notification-bottomRight {
  right: unset !important;
  z-index: 3000;
}