@import "../../../styles/variables.module.scss";

.forgetPasswordPage {
  position: relative;
  padding-top: $size-98;
  .forgetPasswordForm {
    max-width: $size-484;
    padding: 0 $size-24;
    margin: 0 auto;
    .fullLogo {
      margin: 0 auto;
      width: $size-150;
      height: $size-40;
    }
    // .forgetPasswordZone {
    //   padding: $size-56 0 $size-32 0;
    // }
  }
}

@media only screen and (min-width: 600px) {
  .forgetPasswordPage {
    padding-top: $size-80;
    .loginHeader {
      display: none;
    }
    .forgetPasswordForm {
      .fullLogo {
        width: $size-210;
        height: $size-56;
      }
    }
  }
}
