@import '../../../styles/variables.module.scss';
.selectWrapper {
  width: 100%;
  .selectComponent {
    width: 100%;
    height: $size-48;

    .option {
      padding: $size-11 $size-24;
    }
  }
  .errorMessage {
    margin-top: $size-4;
    color: $redBase;
    font-size: 0.875rem;
    line-height: $size-22;
  }
}
