@import '../../../../styles/variables.module.scss';

.notesInput {
    min-height: $size-80;
    background: $fogBackground;
    border-radius: $size-8;
    padding: $size-12 $size-12 $size-12 $size-16;
    position: relative;
    border: 1px solid $fogBackground;
    &:hover {
        border: 1px solid $primaryBase;
    }

    .lengthNotes {
        line-height: $size-22;
        font-weight: 400;
        font-size: $size-14;
        color: $coalBase;
        position: absolute;
        bottom: $size-8;
        right: $size-10;
    }
    
    textarea {
        color: $coalDarker;

        &::placeholder {
            color: $coalDark;
            opacity: 1;
        }
    }
}

.focusInput {
    border: 1px solid $primaryBase;
}
.errorInput {
    border: 1px solid $redBase;
}
.errorMessage{
    margin-top: 4px;
    color: $redBase;
    font-size: 0.875rem;
    line-height: 22px;
}
    
.title{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    margin-bottom: 4px;
    color: $coalDarkest;
}
