@import '../../../../styles/variables.module.scss';

.confirmationModal {
  z-index: 1500;
  .confirmationModalBody {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: fit-content;
    padding: $size-24;
    border-radius: $size-8;
    background-color: white;
    
    .confirmationModalTitle {
      color: $coalDarkest;
      font-size: $size-22;
      font-weight: 500;
      line-height: $size-26;
    }
    
    .confirmationModalDescription {
      margin-top: $size-24;
      font-size: $size-16;
      color: $coalDarker;
      white-space: break-spaces;
    }
    
    .confirmationModalFooter {
      margin-top: $size-34;
      display: flex;
      justify-content: flex-end;
      .btn {
        width: $size-150 !important;
      }
      > :last-child {
        margin-left: $size-12;
      }
    }
  }
  
}
