@import '../../../styles/variables.module.scss';

.shopHeader {
  padding: $size-24 $size-24;
  width: 100%;
  border-bottom: $size-1 solid $coalLighter;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
  .shopHeaderWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $size-1440;
    margin: 0 auto;
  }
  .miniLogo {
    display: block;
    width: $size-24;
    height: $size-24;
    cursor: pointer;
  }
  .fullLogo {
    display: none;
    cursor: pointer;
  }
  .signInBtn {
    height: $size-24;
    font-size: $size-14;
    padding: 0 $size-16;
    border-color: $primaryDark;
  }
  .actions {
    display: flex;
    align-items: center;
    height: $size-24;
    > :last-child {
      margin-left: $size-24;
    }
    .cartBtn {
      position: relative;
      .inCartNumber {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $yellowDark;
        border-radius: $size-100;
        font-weight: 500;
        font-size: $size-12;
        line-height: $size-18;
        color: white;
        padding: 0 $size-4;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .shopHeader {
    padding: $size-24 $size-40;
    .miniLogo {
      display: none;
    }
    .fullLogo {
      display: flex;
    }
    .signInBtn {
      height: $size-56;
      font-size: $size-20;
      padding: 0 $size-24;
    }
  }
  .moreActionsDrawer {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .shopHeader {
    padding: $size-24 $size-80;
  }
}

@media only screen and (min-width: 1200px) {
  .shopHeader {
    padding: $size-24 $size-160;
  }
}

@media only screen and (min-width: 1440px) {
  .shopHeader {
    padding: $size-24 $size-240;
  }
}


