@import '../../../styles/variables.module.scss';

.phoneWithFlagInput {

  // display: flex;
  .phoneWithFlagInputLabel {
    font-family: "Cera Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
    margin-bottom: 4px;
    color: #1E1F1F;
    .phoneWithFlagInputRequired {
      margin-left: $size-4;
      color: $redBase
    }
  }

  .phoneWithFlagInputContainer {
    display: flex;
    height: 3rem;
    background: $fogBackground;
    border: 0.0625rem solid $fogBackground;
    padding: 0 0 0 1rem;
    color: $coalDark;
    border-radius: 0.5rem;
    font-size: 1rem;

    &:hover,
    &:focus {
      border-color: $primaryBase;
    }

    &.phoneWithFlagInputContainerError {
      border-color: $redBase;
    }

    .phoneWithFlag {
      display: flex;
      align-items: center;

      .phoneWithFlagDial {
        margin-left: 0.375rem;
        padding-right: 0.75rem;
        border-right: 0.0625rem solid $coalLight;
      }
    }

    .phoneWithFlagInputItem {
      background: transparent;
      border: $size-1 solid transparent;
      padding-left: 0.75rem;
      flex: 1;
      color: $coalDark;

      &:focus-visible {
        outline: none;
      }
    }

  }

  .phoneWithFlagInputErrorMessage {
    margin-top: $size-4;
    color: $redBase;
    font-size: 0.875rem;
    line-height: $size-22;
  }
}