@import "../../styles/variables.module.scss";

.verifyEmail {
  height: 100vh;
  display: flex;
  justify-content: center;
  .wrapper {
    height: 100%;
    width: $size-480;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $coalDarkest;
    padding: 0 $size-4;
    .title {
      margin-top: $size-24;
      font-weight: 700;
      font-size: $size-20;
      line-height: $size-26;
    }
    .description {
      margin-top: $size-16;
      font-weight: 400;
      font-size: $size-14;
      line-height: $size-22;
    }
    .horizotalDivider {
      width: 100%;
      height: $size-1;
      background-color: $coalLighter;
      margin: $size-16 0;
    }
    .instruction {
      font-weight: 400;
      font-size: $size-14;
      line-height: $size-22;
      color: $coalDarker;
    }
    .signInBtn {
      margin-top: $size-4;
      text-decoration: underline;
      font-weight: 500;
      font-size: $size-16;
      line-height: $size-26;
      color: $blueBase;
      background-color: transparent;
    }
  }
}
