@import "../../../styles/variables.module.scss";

.loginPage {
  padding: 0;
  .loginForm {
    max-width: $size-484;
    margin: 0 auto;
    padding: $size-24;
    .fullLogo {
      margin: 0 auto;
      width: $size-150;
      height: $size-40;
    }
    .loginZone {
      padding-bottom: $size-32;
      .passwordInput {
        margin-top: $size-16;
      }
      .textForgotPassword {
        display: flex;
        justify-content: flex-end;
        margin-top: $size-8;

        a {
          text-decoration: none;
          font-weight: 700;
          font-size: $size-16;
          line-height: $size-26;
          color: $primaryDark;
        }
      }
      .loginButton {
        margin-top: $size-32;
        font-weight: 500;
        font-size: $size-20;
        line-height: $size-26;
      }
    }
    .orDivider {
      width: 70%;
      margin: 0 auto;
      height: $size-26;
      position: relative;
      white-space: pre;
      .horizontalDevider {
        width: 100%;
        height: $size-1;
        background-color: $coalLighter;
        position: absolute;
        top: 50%;
      }
      .orText {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        background-color: white;
        padding: 0 $size-24;
        font-size: $size-18;
        line-height: $size-26;
        color: $black;
      }
    }
    .otherMethod {
      margin-top: $size-32;
      display: flex;
      justify-content: center;
      .socialButton {
        color: $coalDarker;
        font-weight: 500;
        font-size: $size-20;
        line-height: $size-26;
        background-color: transparent;
        padding: 0;
        width: $size-40;
        height: $size-40;
        border: none;
        &:not(:first-child) {
          margin-left: $size-28;
        }
        span {
          width: 100%;
          height: 100%;
        }
      }
      .createBtn {
        color: $primaryDark;
      }
    }
    .otherMethodDescrip {
      background-color: transparent;
      border: none;
      width: 100%;
      text-align: center;
      margin-top: $size-24;
      font-weight: 400;
      font-size: $size-16;
      line-height: $size-26;
      color: $coalDarkest;
      padding: 0;
      height: unset;
    }
  }
}

@media only screen and (min-width: 600px) {
  .loginPage {
    // padding: $size-56 0;
    .loginHeader {
      display: none;
    }
    .loginForm {
      padding-top: $size-80;
      .fullLogo {
        width: $size-210;
        height: $size-56;
      }
    }
    .orDivider {
      width: 70%;
    }
  }
}
