@import '../../../../styles/variables.module.scss';

.cartInfo {
  background-color: $fogBackground;
  .cartSummary {
    display: flex;
    font-weight: 500;
    font-size: $size-18;
    line-height: $size-26;
    color: $coalDarkest;
    margin-bottom: $size-24;
    .cartQuantity {
      font-weight: 400;
      font-size: $size-16;
      line-height: $size-26;
      color: $coalDark;
      padding-left: $size-8;
    }
  }
  .couponInput {
    border-radius: $size-4;
    padding: $size-8 0;
    > :first-child {
      background-color: white;
    }
    .applyBtn {
      padding: 0;
    }
  }
  .paymentInfo {
    border-bottom: $size-1 dashed $coalLight;
    padding-bottom: $size-16 ;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $size-16;
    .title {
      font-size: $size-14;
      line-height: $size-22;
      color: $coalDark;
    }
    .totalTitle {
      font-size: $size-18;
      font-weight: 500;
    }
    .price { 
      font-size: $size-14;
      line-height: $size-22;
      color: $blackBase;
    }
    .totalPrice {
      font-weight: 500;
      font-size: $size-18;
      line-height: $size-26;
    }
  }
  .totalInfo {
    .totalTitle, .totalPrice {
      color: $blackBase;
    }
  }
}