@import '../../../styles/variables.module.scss';

.checkOutInstruction {
  height: 100%;
  padding: $size-56 $size-24;
  .instructionImage {
    margin: 0 auto;
    width: $size-250;
  }
  .instruction {
    padding: $size-32 0;
    text-align: center;
    .instructionTitle {
      margin-bottom: $size-12;
      font-weight: 500;
      font-size: $size-22;
      line-height: $size-26;
      color: $coalDarkest;
    }
    .instructionDescription {
      font-size: $size-14;
      line-height: $size-22;
      color: $coalDarker;
    }
  }
  .actions {
    > :last-child {
      margin-top: $size-8;
    }
    .actionBtn {
      font-weight: 500;
      font-size: $size-20;
      line-height: $size-26;
      color: $primaryDark;
    }
  }
}

@media only screen and (min-width: 600px) {
  .checkOutInstruction {
    padding-top: $size-240;
    .instructionImage {
      margin: 0 auto;
    }
    .instruction {
      text-align: center;
    }
    .actions {
      margin: 0 auto;
      width: $size-400;
    }
  }
}