@import '../../../styles/variables.module.scss';

.briefProduct {
  width: 100%;
  // margin-bottom: $size-40;
  .briefProductWrapper {
    // width: 100% !important;
    .briefProductImage {
      background-image: linear-gradient(#FFFFFF, #F5F7FA);
      display: flex;
      justify-content: center;
      padding: $size-24 0;
      width: 100%;
      margin: 0 auto;
      img {
        min-width: $size-328;
        width: $size-328;
      }
    }
    .briefProductInfo {
      width: $size-328;
      margin: $size-24 auto 0;
      .productName {
        text-align: center;
        font-size: $size-32;
        line-height: $size-36;
      }
      .priceTag {
        text-align: center;
        margin: $size-16 0;
      }
      .learnMoreBtn {
        width: 100%;
        margin-top: $size-32;
      }
    }
  }
}

@media only screen and (min-width: 600px)  {
  .briefProduct {
    .briefProductWrapper {
      .briefProductImage {
        padding: $size-40 0;
        img {
          min-width: $size-400;
          width: $size-400;
        }
      }
      .briefProductInfo {
        width: $size-400;
        .productName {
          font-size: $size-48;
          line-height: $size-60;
        }
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .briefProduct {
    background-image: linear-gradient(#FFFFFF, #F5F7FA);
    padding: $size-80 0;
    .briefProductWrapper {
      display: flex;
      align-items: center;
      width: fit-content;
      margin: 0 auto;
      .briefProductImage {
        background-image: unset;
        padding: 0;
        margin: 0 $size-56 0 0;
        img {
          min-width: $size-462;
          width: $size-462;
        }
      }
      .briefProductInfo {
        min-width: $size-346;
        width: $size-346;
        margin: 0 auto;
        .productName {
          text-align: left;
          font-size: $size-46;
          line-height: $size-52;
        }
        .priceTag {
          display: flex;
          justify-content: flex-start;
          margin: $size-20 0;
        }
        .learnMoreBtn {
          width: fit-content;
          margin-top: $size-32;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .briefProduct {
    .briefProductWrapper {
      .briefProductImage {
        img {
          min-width: $size-616;
          width: $size-616;
        }
      }
      .briefProductInfo {
        min-width: $size-448;
        width: $size-448;
        .productName {
          font-size: $size-64;
          line-height: $size-72;
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .briefProduct {
    .briefProductWrapper {
      .briefProductImage {
        img {
          min-width: $size-808;
          width: $size-808;
        }
      }
      .briefProductInfo {
        width: $size-576;
        min-width: $size-576;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .briefProduct {
    width: 1440px;
    margin: 0 auto;
  }
}