@import '../../../../styles/variables.module.scss';

.signOutModal {
  z-index: 1400;
  .signOutModalBody {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: fit-content;
    padding: $size-24;
    border-radius: $size-8;
    background-color: white;
    
    .signOutModalTitle {
      color: $coalDarkest;
      font-size: $size-22;
      font-weight: 500;
      line-height: $size-26;
    }
    
    .signOutModalDescription {
      margin-top: $size-24;
      font-size: $size-16;
      color: $coalDarker;
    }
    
    .signOutModalFooter {
      margin-top: $size-34;
      display: flex;
      justify-content: flex-end;
      .btn {
        width: $size-150 !important;
      }
      .btn:last-child {
        margin-left: $size-12;
      }
    }
  }
  
}
