@import "../../../styles/variables.module.scss";

.signUpPage {
  margin-top: $size-98;
  width: 100%;
  .signUpForm {
    max-width: $size-484;
    margin: 0 auto;
    padding: 0 $size-24;
    .mt16 {
      margin-top: $size-16;
    }
    .signUpBtn {
      margin-top: $size-56;
    }
  }
}

@media only screen and (min-width: 600px) {
  .signUpPage {
    margin-top: $size-80;
    .loginHeader {
      display: none;
    }
    .signUpForm {
      max-width: $size-484;
      margin: 0 auto;
      .fullLogo {
        width: $size-210;
        height: $size-56;
      }
    }
  }
}
