@import '../../../../styles/variables.module.scss';

.customButton {
  min-width: unset;
  padding: 0px $size-24;
  cursor: pointer;
  font-weight: 700;
  border-radius: $size-40;
  text-transform: unset;
  &:disabled {
    cursor: not-allowed !important;
    pointer-events: auto !important;
  }
}
.loading {
  cursor: not-allowed !important;
  pointer-events: auto !important;
}

.largeSize {
  height: $size-44;
  font-size: $size-16;
  &.loading {
    span {
      width: $size-30 !important;
      height: $size-30 !important;
    }
  }
}

.mediumSize {
  height: $size-40;
  font-size: $size-16;
  span {
    width: $size-24 !important;
    height: $size-24 !important;
  }
}
// .smallSize {
//   height: $size-24;
//   font-size: $size-14;
//   span {
//     width: $size-16 !important;
//     height: $size-16 !important;
//   }
// }

// color button - you can choose one of colors
.primaryType {
  color: $whiteBase;
  background-color: $primaryBase;
  &:hover {
    background-color: $primaryDark;
  }
  &:disabled:not(.loading) {
    color: $whiteBase;
    background-color: $primaryLightest;
  }
  span {
    color: $whiteBase;
  }
}

.outlinedType {
  color: $primaryDark;
  background-color: transparent;
  border: 1px solid $coalLighter;
  &:hover {
    background-color: $primaryLightest;
  }
  &:disabled {
    color: transparent ;
    background-color: transparent !important;
    span {
      color: $primaryLighter;
    }
  }
  &:disabled:not(.loading) {
    color: $primaryLighter;
    background-color: $primaryLightest;
  }
  span {
    color: $whiteBase;
  }
}

.outlinedDefaultType {
  color: $coalDark;
  background-color: transparent;
  border: 1px solid $coalLighter;
  &:hover {
    background-color: $coalLightest;
  }
  &:disabled {
    color: transparent ;
    background-color: transparent !important;
    span {
      color: $coalDark;
    }
  }
  &:disabled:not(.loading) {
    color: $coalDark;
    background-color: $coalDark;
  }
  span {
    color: $whiteBase;
  }
}

.outlinedPrimaryType {
  color: $primaryDark;
  background-color: transparent;
  border: 1px solid $primaryBase;
  &:hover {
    background-color: $primaryLightest;
  }
  &:disabled {
    color: transparent ;
    background-color: transparent !important;
    border: 1px solid $primaryLighter;
    span {
      color: $primaryLighter;
    }
  }
  &:disabled:not(.loading) {
    color: $primaryLighter;
    background-color: $primaryLightest;
  }
  span {
    color: $whiteBase;
  }
}

.dangerType {
  color: $whiteBase;
  background-color: $redBase;
  &:hover {
    background-color: $redDark;
  }
  &:disabled:not(.loading) {
    color: $whiteBase;
    background-color: $primaryLightest;
  }
  span {
    color: $whiteBase;
  }
}

.outlinedDangerType {
  color: $redBase;
  background-color: transparent;
  border: 1px solid $redBase;
  &:hover {
    background-color: $redLightest;
  }
  &:disabled:not(.loading) {
    color: $redBase;
    background-color: $redLightest;
  }
  span {
    color: $redBase;
  }
}


.onlyIcon {
  > span:first-child {
    margin: 0;
  }
}

.squareButton {
  padding: $size-12;
  width: $size-48;
  height: $size-48;
  min-width: $size-48;
  border-radius: $size-8;
  &.primaryType {
    background-color: $primaryLightest;
  }
}