.loading-space {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  justify-content: center;
  // background-color: rgba(255, 255, 255, 0.5);
  .ant-spin-dot-item {
    background-color: $primaryDark;
  }
}
