@import '../../../../styles/variables.module.scss';

.moreActionsMenu {
  .moreActionsMenuList {
    padding: 0;
  }
  .profileActionsIcon {
    color: $primaryDark;
    min-width: $size-36;
  }
  .profileActionsText {
    font-weight: 400;
    font-size: $size-18;
    line-height: $size-26;
    color: $blackBase;
  }
}
