@import '../../../../styles/variables.module.scss';

.cartDrawer {
  z-index: 1400;
  width: 100%;
  .cartDrawerPaper {
    width: 100%;
  }
  .cartDrawerContent {
    width: 100%;
    position: relative;
    height: 100%;
    overflow-y: auto;
    .cartDrawerHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $size-8 $size-24;
      border-bottom: $size-1 solid $coalLight;
      h4 {
        font-weight: 500;
        font-size: $size-16;
        line-height: $size-26;
        color: $coalDarkest;
      }
    }
    .cartDrawerBody { 
      padding: $size-24;
      border-bottom: $size-1 solid $coalLighter;
      .lastestCartProduct {
        border-bottom: none;
      }
    }
    .cartDrawerCheckout {
      padding:  $size-8 $size-24 $size-24;
      .paymentInfo {
        border-bottom: $size-1 dashed $coalBase;
        padding-bottom: $size-16 ;
      }
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $size-16;
        color: $coalDarker;
        .title {
          font-size: $size-14;
          line-height: $size-22;
        }
        .price { 
          font-size: $size-14;
          line-height: $size-22;
        }
        .totalPrice {
          font-weight: 500;
          font-size: $size-18;
          line-height: $size-26;
        }
      }
      .totalInfo {
        .title, .totalPrice {
          color: $blackBase;
          font-size: $size-18;
          line-height: $size-26;
          font-weight: 500;
        }
      }
      .checkoutBtn {
        margin-top: $size-32;
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .cartDrawer {
    .cartDrawerPaper {
      width: 500px;
    }
    .cartDrawerContent {
      .cartDrawerHeader {
        padding: $size-18 $size-40 !important;
        font-weight: 500;
        h4 {
          font-weight: 500;
          font-size: $size-24 !important;
          line-height: $size-28 !important;
        }
      }
      .cartDrawerBody {
        padding: $size-40 !important;
        border: none !important;
      }
    
      .cartDrawerCheckout {
        margin: 0 $size-40;
        border-radius: $size-4;
        border: $size-1 solid $coalLighter;
        .row {
          .title, .totalPrice {
            font-size: $size-16;
          }
        }
        .totalInfo {
          .title, .totalPrice {
            font-size: $size-20;
          }
        }
      }
    }
  }
}