@import '../../../../styles/variables.module.scss';

.findEmailStep {
  .findEmailInstruction {
    font-weight: 400;
    font-size: $size-14;
    line-height: $size-22;
    color: $coalDarker;
  }
  .findEmailInput {
    margin-top: $size-16;
  }
  .sendRequestBtn {
    margin-top: $size-56;
    font-weight: 500;
    font-size: $size-20;
    line-height: $size-26;
  }
}