@import '../../../styles/variables.module.scss';

.setQuantity {
  padding: $size-8 $size-18;
  border-radius: $size-36;
  display: flex;
  justify-content: space-between;
  border: $size-1 solid $coalLighter;
  align-items: center;
  font-size: $size-18;
  line-height: $size-26;
  color: $blackBase;
  .adjustBtn {
    width: $size-24;
    height: $size-24;
    .adjustIcon {
      font-size: $size-24;
    }
  }
}