@import "../../../styles/variables.module.scss";

.inputTitle {
  font-size: $size-14;
  font-weight: 500;
  margin-bottom: $size-4;
  line-height: $size-20;
  color: $coalDarkest;
  .starSign {
    color: $redBase;
  }
  .moreTitle {
    font-size: $size-14;
    line-height: $size-22;
    font-weight: 400;
    margin-left: $size-4;
  }
}
