@import '../../../styles/variables.module.scss';

.sizeSelection {
  .chooseSizeInstructionTitle {
    font-weight: 500;
    font-size: $size-18;
    line-height: $size-26;
    color: $coalDarkest;
  }
  .chooseSizeInstructionContent {
    font-size: $size-16;
    line-height: $size-26;
    color: $coalDarker;
  }
  .sizeOptions {
    background-color: $fogBackground;
    border-radius: $size-8;
    padding: $size-24;
    margin-top: $size-8;
    .sizeOption {
      .sizeOpt {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sizeName {
          font-weight: 400;
          font-size: $size-18;
          line-height: $size-26;
          color: $coalDarker;
        }
        .bold {
          font-weight: 700;
          color: $blueBase;
        }
      }
      .sizeInstruction {
        margin-top: $size-4;
        font-size: $size-16;
        line-height: $size-26;
        color: $coalDark;
      }
    }
    .optionDivider {
      height: $size-1;
      background-color: $coalLighter;
      margin: $size-12 0;
    }
  }
}

@media only screen and (min-width: 600px) {
  .sizeSelection {
    .chooseSizeInstructionTitle {
      font-size: $size-20;
    }
    .chooseSizeInstructionContent {
      font-size: $size-18;
    }
  }
}