@import '../../../../styles/variables.module.scss';

.moreActionsDrawer {
  z-index: 1400;
  width: 100%;
  .moreActionsDrawerPaper {
    width: 100%;
  }
  .moreActionsDrawerContent {
    width: 100%;
    padding: $size-24;
    position: relative;
    height: 100%;
    overflow-y: auto;
    .moreActionsDrawerHeader {
      text-align: end;
    }
    .profileActionsIcon {
      color: $primaryDark;
      min-width: $size-36;
    }
    .profileActionsText {
      font-weight: 400;
      font-size: $size-18;
      line-height: $size-26;
      color: $blackBase;
    }
  }
}