@import "../../../styles/variables.module.scss";

.cartInfoMenu {
  padding: $size-12;
  max-height: $size-500;
  overflow: auto;
  color: $blackDarker;
  font-weight: 400;
  .cartInfoTitle {
    font-size: $size-16;
    line-height: $size-26;
    color: $coalDarkest;
  }
  .cartInfoItem {
    display: flex;
    margin-top: $size-8;
    min-width: $size-206;
    .cartImageDisplay {
      position: relative;
      padding: $size-4;
      margin-right: $size-8;
      .cartImageContainer {
        width: $size-56;
        height: $size-56;
        background-color: $fogBackground;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 60%;
        }
      }
      .cartQuantity {
        position: absolute;
        top: 0;
        left: 0;
        width: $size-20;
        height: $size-20;
        min-width: fit-content;

        background-color: $whiteBase;
        border: $size-1 solid $coalLight;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .productTitle {
      font-size: $size-12;
      line-height: $size-18;
    }
    .productSize {
      margin-top: $size-4;
      font-size: $size-10;
      line-height: $size-18;
    }
  }
  .divider {
    margin: $size-8 0;
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    .cartButton {
      border: none;
      box-shadow: none;
      padding: 0;
      height: unset;
      span {
        font-weight: 400;
        font-size: $size-14;
        line-height: $size-22;
        color: $primaryDark;
      }
      &:hover,
      &:focus,
      &:active {
        border: none;
        box-shadow: none;
      }
      &::after {
        display: none;
      }
    }
  }
}
.cartBtn {
  position: relative;
  .inCartNumber {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $yellowDark;
    border-radius: $size-100;
    font-weight: 500;
    font-size: $size-12;
    line-height: $size-18;
    color: white;
    padding: 0 $size-4;
  }
}
