@import '../../../styles/variables.module.scss';

.select-wrapper {
  .ant-select {
    .ant-select-selector {
      color: $coalDarker;
      font-weight: 500;
      font-size: $size-16;
      border-radius: $size-8;
      border: $size-1 solid $fogBackground;
      background-color: $fogBackground;
      height: 100%;
      display: flex;
      align-items: center;
      transition: none;
      &:hover {
        border: $size-1 solid $primaryBase;
      }
      .ant-select-selection-search {
        input {
          height: 100%;
        }
      }
      .ant-select-selection-placeholder {
        font-weight: 400 !important;
        color: $coalDark;
      }
    }  
  }
  .ant-select-focused {
    .ant-select-selector {
      border: $size-1 solid $primaryBase !important;
      box-shadow: unset !important;
    }
  }
  .ant-select-open {
    .ant-select-selector {
      border: $size-1 solid $primaryBase !important;
    }
  }
}

.ant-select-dropdown {
  border-radius: $size-4;
  padding: $size-12 0;
  color: $coalDarkest;
  font-weight: 400;
  font-size: $size-16;
  line-height: $size-26;
  .ant-select-item {
    height: $size-48;
    padding-left: $size-16;
    display: flex;
    font-size: $size-16;
    align-items: center; 
    border-bottom: 1px solid $coalLighter;
    color: $coalDarkest;
    &:last-child {
      border: none;
    }
  }
  .ant-select-item-option-active {
    background-color: transparent;
  }
  .ant-select-item-option-selected {
    font-weight: 400 !important;
    background-color: unset !important;
  }
}