@import "../../styles/variables.module.scss";

.createAccount {
  position: relative;
  // background-color: black;
  width: 100vw;
  height: 100vh;
  // background: url("../../public/images/svg/background-purchase.svg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  .closeIconButton {
    position: absolute;
    top: $size-20;
    right: $size-20;
  }
  .createAccountContent {
    max-width: $size-480;
    width: $size-480;
    padding: 0 $size-20;
    margin-top: $size-60;
    .createAccountContentHeader {
      margin-top:  $size-40;
      font-size: $size-28;
      font-weight: 700;
      line-height: $size-28;
      text-transform: capitalize;
      color: $coalDarkest;
    }
    .createAccountContentBody {
      margin-top: 0.5rem;
    }
  }
}