@import "../../../../styles/variables.module.scss";

.updatePassword {
  color: $coalDarker;
  font-size: $size-14;
  .updatePasswordInstruction {
    margin-top: $size-24;
    line-height: $size-22;
    display: flex;
    .updatePasswordInstructionContent {
      margin-left: $size-12;
      flex: 1;
    }
  }
  .verificationCodeInput {
    margin-top: $size-24;
  }
  .resendCode {
    display: flex;
    align-items: center;
    margin-top: $size-12;
    font-size: $size-14;
    line-height: $size-22;
    color: $coalDarker;
    .resendText,
    .resendBtn {
      margin-left: $size-4;
    }
    .countdowning {
      color: $coalLight !important;
    }
    .resendBtn {
      // text-decoration: underline;
      color: $blueBase;
      font-weight: 500;
      font-size: $size-14;
      line-height: $size-20;
      cursor: pointer;
    }
    .resendText {
      color: $coalDarkest;
    }
  }
  .updatePasswordDivider {
    margin-top: $size-24;
    background-color: $coalLighter;
  }
  .passwordInstruction {
    margin-top: $size-24;
    line-height: $size-22;
    span {
      font-weight: 500;
    }
  }
  .passwordInput {
    margin-top: $size-24;
  }
  .confirmPasswordInput {
    margin-top: $size-16;
  }
  .updatePasswordFooter {
    margin-top: $size-56;
    .updateBtn {
      font-weight: 500;
      font-size: $size-20;
      line-height: $size-26;
    }
  }
}
