@import '../../../styles/variable.module.scss';

.privacyPolicy {
  .title {
    font-weight: 700;
    font-size: $size-28;
    line-height: $size-28;
    text-align: center;
    margin-top: $size-16;
    color: $coalDarkest;
  }

  .contentContainer {
    margin-top: 0.5rem;
    padding: 1.5rem;

    .listTitleMain {
      &::marker {
        font-weight: bold;
      }

      .listTitleSub {
        text-decoration: underline;
      }
    }

    .email {
      text-decoration: underline;
    }

    .dashList {
      list-style: none;
      padding-left: 1rem;

      li {
        &:before {
          content: "-";
          text-indent: -1rem;
          display: inline-block;
        }
      }
    }
  }
}