@import "../../../styles/variables.module.scss";

.checkoutPage {
  .checkoutHeader {
    padding: $size-24;
    display: flex;
    align-items: center;
    .title {
      margin: 0 auto;
      font-weight: 500;
      font-size: $size-20;
      line-height: $size-26;
      color: $coalDarkest;
    }
  }
  .checkoutBody {
    .cartInfo {
      padding: $size-24;
    }
    .shippingInfo {
      padding: $size-24;
    }
  }
  .actions {
    padding: 0 $size-24;
  }
}

@media only screen and (min-width: 600px) {
  .checkoutHeader {
    padding: $size-24 $size-64 !important;
  }
  .checkoutBody {
    .cartInfo,
    .shippingInfo {
      padding: $size-24 $size-64 !important;
    }
  }
}
@media only screen and (min-width: 900px) {
  .checkoutHeader {
    padding: $size-24 $size-80 !important;
    .title {
      margin-left: $size-24 !important;
    }
  }
  .checkoutBody {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    .cartInfo,
    .shippingInfo {
      flex: 1;
      padding: $size-40 $size-80 !important;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .checkoutHeader {
    padding: $size-24 $size-160 !important;
  }
  .checkoutBody {
    .cartInfo,
    .shippingInfo {
      padding: $size-40  $size-160 !important;
    }
  }
}