@import "../../../styles/variables.module.scss";

.myImageSlider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: $size-24 0;
  width: 100%;
  margin: 0 auto;
  position: relative;
  .bigImageWrapper {
    width: 100%;
    height: $size-400;
    max-height: $size-400;
    position: relative;
    text-align: center;
    .arrowWrapper {
      .leftArrow {
        left: 0;
      }
      .rightArrow {
        right: 0;
      }
      .rightArrow, .leftArrow {
        position: absolute;
        top: 50%;
        background-color: white;
        border: $size-1 solid $coalLight;
        border-radius: 50%;
        color: $coalDarker;
        box-shadow: 0 $size-2 $size-4 rgba(0, 0, 0, 0.12);
      }
    }
    > img {
      // min-width: $size-328;
      // width: $size-328;
      height: 100%;
      object-fit: contain;
    }
  }
  .imgSlide {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-top: $size-12;
    display: none;
    align-items: center;
    .miniImageWrapper {
      opacity: 0.5;
      margin-right: $size-16;
      transition: opacity 0.6s ease;
      transition: border 0.6s ease;
      min-height: $size-112;
      min-width: $size-112;
      width: $size-112;
      height: $size-112;
      display: flex;
      justify-content: center;
      align-items: center;
      > img {
        height: $size-80;
        width: $size-80;
        object-fit: cover;
      }
    }
    .miniImageWrapperActive {
      opacity: 1;
      height: $size-112;
      width: $size-112;
      padding: $size-16;
      border: $size-1 solid $coalLighter;
      border-radius: $size-4;
      > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .dotSlide {
    display: flex;
    margin-top: $size-12;
    .dots {
      width: $size-8;
      height: $size-8;
      background-color: $coalBase;
      border-radius: 50%;
      margin-right: $size-12;
      transition: background-color 0.6s ease;
    }
    .activeDot {
      background-color: $blackDarker;
    }
  }
}

@media only screen and (min-width: 600px) {
  .myImageSlider {
    width: 100%;
    .bigImageWrapper {
      > img {
        // min-width: $size-580;
        // width: $size-580;
        width: 100%;
      }
    }
    .imgSlide {
      display: flex;
      width: 100%;
      .miniImageWrapper {
        > img {
          max-width: $size-80;
          object-fit: cover;
        }
      }
    }
    .dotSlide {
      display: none;
    }
  }
}

@media only screen and (min-width: 900px) {
  .myImageSlider {
    width: 772px;
    .bigImageWrapper {
      > img {
        // min-width: $size-800;
        // width: $size-864;
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .myImageSlider {
    .bigImageWrapper {
      > img {
        min-width: $size-532;
        width: $size-532;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .myImageSlider {
    .bigImageWrapper {
      > img {
        min-width: $size-680;
        width: $size-680;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .detailProduct {
    width: 1440px;
    margin: 0 auto;
    padding: $size-56 0;
  }
}

