@import "../../../styles/variables.module.scss";

.detailProduct {
  width: 100%;
  padding: $size-24;
  .detailProductWrapper {
    width: 100%;
    .detailProductImage {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: $size-24 0;
      width: 100%;
      margin: 0 auto;
      position: relative;
    }
    .detailProductInfo {
      width: 100%;
      .productName {
        font-weight: 500;
        font-size: $size-32;
        line-height: $size-36;
        color: $blackBase;
      }
      .priceTag {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: $size-8;
      }
      .productDescription,
      .description {
        padding-top: $size-24;
      }
    }
    .chooseStrap {
      padding-top: $size-24;
    }
    .setQuantity {
      margin: $size-24 0;
    }
    .actions {
      display: flex;
      justify-content: space-between;
      gap: $size-24;
      margin: $size-24 auto;
      .buyBtn, .addBtn {
        flex: 1;
        font-size: $size-20;
        font-weight: 400;
        padding: 0;
      }
      .buyBtn {
        color: $primaryDark;
        border-color: $primaryDark;
      }
    }
    .quantityLimitationAnnoucement {
      display: flex;
      padding: $size-8;
      .infoIcon {
        font-size: $size-24;
        color: $yellowDark;
        margin-right: $size-8;
      }
      .announcementText {
        font-size: $size-18;
        line-height: $size-26;
        color: black;
      }
    }

    .mt24 {
      margin-top: $size-24;
    }
  }
}

@media only screen and (min-width: 600px) {
  .detailProduct {
    padding: $size-40 $size-64;
    .detailProductWrapper {
      .detailProductInfo {
        .productName {
          font-size: $size-56;
          line-height: $size-70;
        }
        .priceTag {
          margin-top: $size-16;
        }
        .productDescription {
          padding-top: 0;
        }
      }
      .setQuantity,
      .actions {
        margin: $size-24 auto;
        width: $size-400;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .detailProduct {
    padding: $size-56 $size-80;
    .detailProductWrapper {
      .detailProductInfo {
        .productName {
          font-size: $size-64;
          line-height: $size-72;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .detailProduct {
    padding: $size-56 $size-160;
    .detailProductWrapper {
      display: flex;
      align-items: center;
      .detailProductImage {
        min-width: $size-532;
        width: $size-532;
        .bigImageWrapper {
          > img {
            min-width: $size-532;
            width: $size-532;
          }
        }
        .imgSlide {
          .miniImageWrapper {
            > img {
              max-width: $size-40;
            }
          }
        }
      }
      .detailProductImage {
        margin-right: $size-56;
      }
      .setQuantity,
      .actions {
        width: 100%;
      }
      .setQuantity {
        margin-bottom: $size-24;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .detailProduct {
    padding: $size-56 $size-240;
    .detailProductWrapper {
      .detailProductImage {
        min-width: $size-680;
        width: $size-680;
        .bigImageWrapper {
          > img {
            min-width: $size-680;
            width: $size-680;
          }
        }
        .imgSlide {
          .miniImageWrapper {
            > img {
              max-width: $size-40;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .detailProduct {
    width: 1440px;
    margin: 0 auto;
    padding: $size-56 0;
  }
}
