@import '../../../styles/variables.module.scss';

.viewProductDetail {
  .relevantItems {
    background-color: $fogBackground;
    padding: $size-24;
    margin: 0 auto;
    .relenvantSentence {
      text-align: center;
      font-size: $size-18;
      color: $coalBase;
    }
    .items {
      // padding: $size-24;
      display: block;
    }
  }
}

@media only screen and (min-width: 600px) {
  .viewProductDetail {
    .relevantItems {
      padding: $size-40 $size-32;
      .items {
        padding-top: $size-8;
        width: fit-content;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $size-32;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .viewProductDetail {
    .relevantItems {
      padding: $size-56 $size-80;
      .items {
        padding-top: $size-32;
        gap: $size-56;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .viewProductDetail {
    .relevantItems {
      padding: $size-56 $size-160;
      .items {
        gap: $size-56;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .viewProductDetail {
    .relevantItems {
      padding: $size-56 $size-240;
      .items {
        gap: $size-80;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .viewProductDetail {
    margin: 0 auto;
    width: 1440px;
    min-width: 1440px;
    .relevantItems {
      width: 1440px;
      padding: $size-24 0 $size-32;
      .items {
        gap: $size-80;
      }
    }
  }
}