@import "../../../styles/variables.module.scss";

.shopFooter {
  color: $coalLight;
  background-color: $coalDarkest;
  width: 100%;
  height: fit-content;
  .moreInfo {
    padding: $size-32 $size-24;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 87%;
    margin: 0 auto;
    .fullLogo {
      align-self: center;
      margin-bottom: $size-32;
    }

    .verticalDivider {
      height: $size-48;
      width: $size-1;
      background-color: $coalDark;
      margin: 0 $size-72;
      display: none;
    }

    .discoveries {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      color: white;
      grid-gap: $size-8;
      width: 100%;
      > p {
        cursor: pointer;
      }
    }

    .alternativeDiscoveries {
      display: none;
      > p {
        cursor: pointer;
      }
    }
  }
  .copyright {
    padding: $size-16 $size-24;
    text-align: center;
    border-top: $size-1 solid $coalDarker;
    p {
      font-size: $size-12;
      line-height: $size-18;
    }
  }
}

@media only screen and (min-width: 900px) {
  .shopFooter {
    .moreInfo {
      flex-direction: row;
      width: 85%;
      margin: 0 auto;
      .fullLogo { 
        margin-bottom: 0;
      }
      .verticalDivider {
        display: block;
        margin: 0 7.5%;
      }
      .discoveries {
        display: none;
      }
      .alternativeDiscoveries {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: $size-8;
        color: white;
        flex: 1;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .shopFooter {
    width: 100%;
    .moreInfo {
      width: 1440px;
      margin: 0 auto;
    }
  }
}
