@import '../../../styles/variables.module.scss';

.briefProductCard {
  width: 100%;
  // margin: 0 auto;
  padding: $size-24 0;
  display: flex;
  flex-direction: column;
  .briefProductCardImage {
    position: relative;
    .variationArea {
      position: absolute;
      bottom: $size-32;
      left: 50%;
      transform: translateX(-50%);
      .variationText {
        font-size: $size-14;
        line-height: $size-22;
        color: $coalDark;
      }
      .variations {
        display: flex;
        .variation {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          height: $size-32;
          width: $size-32;
          text-align: center;
          background-color: $coalLighter;
          color: $blueDark;
          border-radius: 50%;
          margin-right: $size-14;
        }
      }
    }
  }
  .briefProductCardInfo {
    text-align: center;
    .productName {
      margin-top: $size-24;
    }
    .productDescription {
      margin: $size-16 0;
    }
  }
  .buttons {
    display: flex;
    align-items: flex-end;
    .learnMoreBtn {
      width: 100%;
      margin-top: $size-24;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .briefProductCard {
    .briefProductCardInfo {
      text-align: center;
      .productName {
        font-size: $size-32;
        line-height: $size-36;
      }
      .productDescription {
        font-size: $size-18;
      }
    }
    .buttons {
      .learnMoreBtn {
        width: fit-content;
        margin-left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
