@import "../../../styles/variables.module.scss";

.checkoutProduct {
  display: flex;
  justify-content: space-between;
  margin-bottom: $size-16;
  .checkoutProductInfoWrapper {
    display: flex;
    align-items: center;
    .checkoutProductInfoImage {
      width: $size-64;
      border-radius: $size-4;
      border: $size-1 solid $coalLighter;
    }
    .checkoutProductInfoZone {
      margin-left: $size-16;
      .productName {
        font-weight: 400;
        font-size: $size-16;
        line-height: $size-26;
        color: $coalDarker;
      }
      .variation {
        font-size: $size-12;
        line-height: $size-18;
        color: $coalDark;
      }
      .productQuantity {
        font-weight: 400;
        font-size: $size-12;
        line-height: $size-18;
        color: $coalDark;
      }
    }
    .productPrice {
      font-weight: 400;
      font-size: $size-14;
      line-height: $size-22;
      color: $coalDarker;
    }
  }
}
