@import '../../../../styles/variables.module.scss';

.checkoutSuccess {
  width: 100%;
  padding: $size-56 $size-24;
  .checkoutSuccessImage {
    margin: 0 auto;
    img {
      margin: 0 auto;
      width: $size-250;
    }
  }
  .checkoutSuccessInstruction {
    padding: $size-32 0;
    text-align: center;
    .checkoutSuccessInstructionTitle {
      margin-bottom: $size-12;
      font-weight: 500;
      font-size: $size-22;
      line-height: $size-26;
      color: $coalDarkest;
    }
    .checkoutSuccessInstructionDescription {
      font-size: $size-14;
      line-height: $size-22;
      color: $coalDarker;
    }
  }
  .actions {
    > :last-child {
      margin-top: $size-8;
    }
    .actionBtn {
      font-weight: 500;
      font-size: $size-20;
      line-height: $size-26;
      color: $primaryDark;
    }
  }
}

@media only screen and (min-width: 600px) {
  .checkoutSuccess {
    padding-top: $size-240;
    .checkoutSuccessImage {
      margin: 0 auto;
    }
    .checkoutSuccessInstruction {
      margin: 0 auto;
      text-align: center;
      width: $size-400;
    }
    .actions {
      margin: 0 auto;
      width: $size-400;
    }
  }
}