@import '../../../../styles/variables.module.scss';

.sizeOption {
  .sizeOpt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sizeName {
      font-weight: 400;
      font-size: $size-18;
      line-height: $size-26;
      color: $coalDarker;
    }
    .bold {
      font-weight: 700;
      color: $blueBase;
    }
  }
  .sizeInstruction {
    margin-top: $size-4;
    font-size: $size-16;
    line-height: $size-26;
    color: $coalDark;
  }
}