@import "../../styles/variables.module.scss";

.forgotPassword {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  .closeIconButton {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
  }
  .forgotPasswordContent {
    max-width: $size-480;
    width: $size-480;
    padding: 0 $size-20;
    margin-top: $size-60;
    .forgotPasswordContentHeader {
      margin-top:  $size-40;
      font-size: $size-28;
      font-weight: 700;
      line-height: $size-28;
      text-transform: capitalize;
      color: $coalDarkest;
    }
    .forgotPasswordContentBody {
      margin-top: 0.5rem;
    }
  }
}