@import "../../../../../styles/variables.module.scss";

.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;

  .emptyCartTitle {
    font-weight: 500;
    font-size: $size-22;
    line-height: $size-26;
    color: $coalDarkest;
  }
  .emptyCartDescription {
    font-size: $size-14;
    line-height: $size-22;
    color: $coalDarker;
  }
}
