@import '../../../styles/variables.module.scss';

.homeStore {
  width: 100%;
  .offeredItems {
    padding: $size-40 $size-24;
    margin: 0 auto;
    .offeredSentence {
      // margin-bottom: $size-16;
      text-align: center;
    }
    .items {
      display: block;
    }
  }
}

@media only screen and (min-width: 600px) {
  .homeStore {
    .offeredItems {
      padding: $size-24 $size-40 $size-32;
      .items {
        padding-top: $size-8;
        width: fit-content;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $size-32;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .homeStore {
    .offeredItems {
      padding: $size-24 $size-80 $size-32;
      .items {
        padding-top: $size-32;
        gap: $size-56;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .homeStore {
    .offeredItems {
      padding: $size-24 $size-160 $size-32;
      .items {
        gap: $size-56;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .homeStore {
    .offeredItems {
      padding: $size-24 $size-240 $size-32;
      .items {
        gap: $size-80;
      }
    }
  }
}

@media only screen and (min-width: 1920px) {
  .homeStore {
    margin: 0 auto;
    width: 1440px;
    .offeredItems {
      width: 1440px;
      padding: $size-24 0 $size-32;
      .items {
        gap: $size-80;
        margin: 0;
      }
    }
  }
}