@import '../../../styles/variables.module.scss';

.priceTag {
  .priceTagNormal, .afterPrice {
    color: $blackBase;
    font-weight: 400;
    font-size: $size-22;
  }
  .afterPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    .originalPrice {
      padding: 0 $size-8;
      color: $coalBase;
      font-size: $size-20;
      line-height: $size-26;
      font-weight: 400  ;
      text-decoration: line-through;
    }
    .saleOffTag {
      background-color: $redBase;
      border-radius: $size-6;
      font-weight: 500;
      font-size: $size-14;
      line-height: $size-20;
      padding: $size-2 $size-8;
      color: white;
    }
  }
}
@media only screen and (min-width: 600px)  {
  .priceTag {
    .mainProductSize {
      font-size: $size-48;
      font-weight: 500;
      line-height: $size-60;
      .originalPrice {
        font-size: $size-40;
      }
      .saleOffTag {
        font-size: $size-24;
      }
    }
    .mainHomeProductSize {
      font-size: $size-32;
      font-weight: 500;
      line-height: $size-36;
      .originalPrice {
        font-size: $size-28;
        line-height: $size-35;
      }
      .saleOffTag {
        font-size: $size-22;
      }
    }
  }
}
@media only screen and (min-width: 1200px)  {
  .priceTag {
    .priceTagNormal, .afterPrice {
      font-size: $size-28;
      line-height: $size-35;
    }
    .mainHomeProductSize {
      font-size: $size-48;
      line-height: $size-60;
      .originalPrice {
        font-size: $size-40;
        line-height: $size-50;
      }
      .saleOffTag {
        font-size: $size-24;
        line-height: $size-28;
      }
    }
  }
}