@import '../../../../styles/variables.module.scss';

.input-wrapper {
  position: relative;
  .phone-number-input {
    height: $size-48;
    width: 100%;
    border-radius: $size-8;
    padding: 0 $size-8;
    border: $size-1 solid $fogBackground;
    background-color: $fogBackground;
    outline: none;
    color: $coalDarker;
    font-weight: 400;
    font-size: $size-16;
    line-height: $size-26;
    &::placeholder {
      font-size: $size-16;
    }

    &:focus {
      border: $size-1 solid $primaryBase;
    }

    &:hover {
      border: $size-1 solid $primaryBase;
    }
  }
  .custom-select-input {
    // height: $size-48;
    // border-radius: $size-8;
    // background-color: $fogBackground;
    // > :first-child {
    //   height: 100%;
    //   > :nth-child(3) {
    //     height: 100%;
    //     border-radius: $size-8;
    //     background-color: $fogBackground;
    //     border: $size-1 solid $fogBackground;

    //     &:focus {
    //       border: $size-1 solid $primaryBase;
    //     }

    //     &:hover {
    //       border: $size-1 solid $primaryBase;
    //     }
    //   }
    // }
  }
}