@import '../../../../styles/variables.module.scss';

.customAutoComplete {
  padding: 0;
  background-color: $whiteBase;
  display: flex;
  align-items: center;
  .inputField {
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    > :first-child {
      padding: $size-3 $size-8;
    }
  }
  legend {
    display: none;
  }
  fieldset {
    border-radius: $size-8 0 0 $size-8;
    top: 0;
    border: $size-1 solid $coalLighter !important;
    border-right: unset !important;
  }
  &:hover {
    fieldset {
      border: $size-1 solid $coalLighter !important;
      border-right: unset !important;
    }
  }
  
}
.customAutoCompleteFocused {
  fieldset {
    border: $size-1 solid $primaryLight !important;
    border-right: unset !important;
  }
  &:hover {
    fieldset {
      border: $size-2 solid $primaryLight !important;
      border-right: unset !important;
    }
  }
}

.tag {
  min-height: $size-24 ;
  max-height: $size-24;
  background-color: $primaryLightest;
  color: $primaryDarker;
  font-weight: 500;
  font-size: $size-14;
  svg {
    color: $primaryDark !important;
    font-size: $size-16 !important;
  }
}

.endAdornment {
  color: $coalBase;
  top: $size-8;
  > :last-child {
    display: none;
  }
}

.autocompleteOption {
  display: flex;
  height: $size-46;
  align-items: center;
  margin: 0 $size-12;
  border-bottom: $size-1 solid $coalLightest;
  justify-content: space-between;
  &:last-child {
    border: unset;
  }
  .title {
    font-size: $size-14;
    line-height: $size-22;
    color: $coalDark;
  }

  .icon {
    color: $coalDarkest;
    font-size: $size-18;
    cursor: pointer;
  }
}

.inputAdornment {
  cursor: pointer;
}