@import '../../../styles/variables.module.scss';
.shopLayoutComponent {
  // height: 100vh;
  // .withBoth {
  //   height: calc(100% - 4.625rem) ;
  //   overflow: auto;
  // }
  // .withHeader {
  //   height: calc(100% - 18.75rem) ;
  // }
  // .withFooter {
  //   height: calc(100% - 18.75rem) ;
  //   overflow: auto;
  // }
}