@import "../../../styles/variables.module.scss";

.loginPageHeader {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $size-24;
  height: $size-74;
  border-bottom: 1px solid $coalLighter;
  background-color: white;
  .backButton {
    border: none;
    padding: 0;
  }
  .headerTitle {
    font-weight: 500;
    font-size: $size-20;
    line-height: $size-26;
    color: $coalDarkest;
  }
}
