
@font-face {
  font-family: "Cera";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  /* src: url("/fonts/cera/Cera-Pro-Regular.ttf") format("woff");  */
  src: url("/public/fonts/cera/Cera-Pro-Regular.ttf") format("woff"); 
}

@font-face {
  font-family: "Cera-Bold";
  font-weight: bold;
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/cera/Cera-Pro-Bold.ttf") format("woff"); 
}

@font-face {
  font-family: "Cera-Medium";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/cera/Cera-Pro-Medium.ttf") format("woff"); 
}

body {
  font-family: 'Cera';
}