@import 'antd/dist/antd.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Cera Pro, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
/* ol, */
/* ul, */
/* li, */
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Cera Pro";
  color: #696A6B;
  line-height: 26px;
  font-weight: 400;
  background-color: #FFF;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../public/fonts/cera/Cera-Pro-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../public/fonts/cera/Cera-Pro-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../public/fonts/cera/Cera-Pro-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../public/fonts/cera/Cera-Pro-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../public/fonts/cera/Cera-Pro-Light.ttf");
  font-weight: 300;
}