
// @import 'antd/dist/antd.css';

@import '../src/components/normalSelect/style.scss';
@import '../src/components/inputs/normalInput/style.scss';
@import '../src/components/loadingPage/styles.scss';

// FabricJS ECG scss
@import '../src/components/customSelect/style.scss';

.overflow-hidden {
  overflow: hidden;
}

.mt-24 {
  margin-top: $size-24;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.strong-text {
  color: $coalDarkest;
  font-weight: 500;
}
