/* variable color */
$primaryBase: #89c15d;
$primaryDark: #5e9937;
$primaryDarker: #40701f;
$primaryLight: #9acf77;
$primaryLightest: #e6f4dc;
$primaryLighter: #bcdfa4;
$primaryLight: #9acf77;

$blueBase: #3c73bd;
$blueDark: #32527d;
$blueDarker: #6399e0;
$blueLight: #aacdfa;
$blueLightest: #e6f0ff;

$orangeBase: #db8c25;
$orangeLight: #e5ac61;
$orangeLightest: #fae6cd;

$whiteBase: #ffffff;
$whiteDarker: #f4f4f6;

$blackBase: #0b0b0c;
$blackDarker: #474748;

$grayBase: #a0a1a3;
$grayLighter: #f3f3f3;

$yelloBase: #ffc31f;
$yellowLightest: #fff7d6;
$yellowDark: #f5b400;

$redBase: #ef2641;
$redDark: #d11932;
$redLightest: #ffe5e9;
$redLighter: #ffadb8;

$coalBase: #a0a1a3;
$coalDarkest: #1e1f1f;
$coalDarker: #474748;
$coalDark: #696a6b;
$coalLighter: #e6e9eb;
$coalLight: #d2d4d6;
$coalLightest: #f0f2f5;

$fogBackground: #f5f7fa;
$fogBackgroundWhiteLight: #fafafa;
$contentBackground: #fcfbf9;

$greenGray: #f0f2ee;

$black: #000000;

/* variable size */
$size-1: 0.0625rem;
$size-2: 0.125rem;
$size-3: 0.1875rem;
$size-4: 0.25rem;
$size-5: 0.3125rem;
$size-6: 0.375rem;
$size-7: 0.4375rem;
$size-8: 0.5rem;
$size-9: 0.5625rem;
$size-10: 0.625rem;
$size-11: 0.6875rem;
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-15-5: 0.96875rem;
$size-16: 1rem;
$size-17: 1.0625rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-26: 1.625rem;
$size-28: 1.75rem;
$size-30: 1.875rem;
$size-32: 2rem;
$size-34: 2.125rem;
$size-35: 2.1875rem;
$size-36: 2.25rem;
$size-38: 2.375rem;
$size-40: 2.5rem;
$size-42: 2.625rem;
$size-43: 2.6875rem;
$size-44: 2.75rem;
$size-45: 2.8125rem;
$size-46: 2.875rem;
$size-48: 3rem;
$size-50: 3.125rem;
$size-52: 3.25rem;
$size-54: 3.375rem;
$size-56: 3.5rem;
$size-58: 3.625rem;
$size-60: 3.75rem;
$size-62: 3.875rem;
$size-64: 4rem;
$size-66: 4.125rem;
$size-68: 4.25rem;
$size-70: 4.375rem;
$size-72: 4.5rem;
$size-74: 4.625rem;
$size-76: 4.75rem;
$size-80: 5rem;
$size-82: 5.125rem;
$size-86: 5.375rem;
$size-84: 5.25rem;
$size-88: 5.5rem;
$size-92: 5.75rem;
$size-94: 5.875rem;
$size-96: 6rem;
$size-98: 6.125rem;
$size-100: 6.25rem;
$size-112: 7rem;
$size-130: 8.125rem;
$size-132: 8.25rem;
$size-200: 12.5rem;
$size-206: 12.875rem;
$size-264: 16.5rem;
$size-120: 7.5rem;
$size-140: 8.75rem;
$size-129: 8.0625rem;
$size-130: 8.125rem;
$size-132: 8.25rem;
$size-144: 9rem;
$size-148: 9.25rem;
$size-150: 9.375rem;
$size-160: 10rem;
$size-162: 10.125rem;
$size-178: 11.125rem;
$size-164: 10.25rem;
$size-180: 11.25rem;
$size-200: 12.5rem;
$size-216: 13.5rem;
$size-170: 10.625rem;
$size-180: 11.25rem;
$size-197: 12.3125rem;
$size-198: 12.375rem;
$size-210: 13.125rem;
$size-224: 14rem;
$size-236: 14.75rem;
$size-240: 15rem;
$size-242: 15.125rem;
$size-250: 15.625rem;
$size-282: 17.625rem;
$size-276: 17.25rem;
$size-278: 17.375rem;
$size-290: 18.125rem;
$size-272: 17rem;
$size-300: 18.75rem;
$size-326: 20.375rem;
$size-328: 20.5rem;
$size-334: 20.875rem;
$size-336: 21rem;
$size-346: 21.625rem;
$size-356: 22.25rem;
$size-360: 22.5rem;
$size-380: 23.75rem;
$size-384: 24rem;
$size-386: 24.125rem;
$size-394: 24.625rem;
$size-400: 25rem;
$size-404: 25.25rem;
$size-440: 27.5rem;
$size-448: 28rem;
$size-442: 27.625rem;
$size-462: 28.875rem;
$size-480: 30rem;
$size-484: 30.25rem;
$size-488: 30.5rem;
$size-500: 31.25rem;
$size-532: 33.25rem;
$size-534: 33.375rem;
$size-576: 36rem;
$size-580: 36.25rem;
$size-592: 37rem;
$size-600: 37.5rem;
$size-616: 38.5rem;
$size-650: 40.625rem;
$size-680: 42.5rem;
$size-648: 40.5rem;
$size-713: 44.5625rem;
$size-800: 50rem;
$size-808: 50.5rem;
$size-864: 54rem;
$size-1440: 90rem;
