@import '../../../../styles/variables.module.scss';

.shippingInfo {
  .instruction {

  }
  .shippingInfoZone {
    .mt16 {
      margin-top: $size-16;
    }
    .flexRow {
      display: flex;
      > :first-child {
        margin-right: $size-16;
      }
      .insideInput {
        flex: 1;
        width: calc(50% - 0.5rem);
      }
    }
    .normalInput {
      > :first-child {
        color: $coalDarkest;
      }
    }
    .payNowBtn {
      margin-top: $size-32;
    }
  }
}