@import "../../../styles/variables.module.scss";

.cartProduct {
  display: flex;
  align-items: flex-start;
  padding: $size-16 0;
  border-bottom: $size-1 solid $coalLighter;
  .cartProductImage {
    margin-right: $size-16;
    img {
      min-width: $size-144;
      width: $size-144;
    }
  }
  .cartProductInfo {
    width: 100%;
    .cartProductInfoZone {
      .productDescription {
        font-size: $size-16;
        line-height: $size-26;
        color: $coalDarker;
      }
      .productPrice {
        display: flex;
        font-weight: 500;
        font-size: $size-18;
        line-height: $size-26;
        color: $coalDarkest;
        padding: $size-8 0 $size-16;
      }
      .productSize {
        margin-bottom: $size-16;
        font-size: $size-14;
        line-height: $size-22;
        color: $coalBase;
      }
    }
    .cartProductQuantity {
      .setQuantity {
        height: $size-32;
        width: 100%;
      }
      .removeBtn {
        color: $orangeLight;
        font-weight: 500;
        font-size: $size-14;
        line-height: $size-20;
        text-decoration: underline;
        padding: 0 $size-2;
        height: fit-content;
        margin-top: $size-16;
      }
    }
    .isBunbleProduct {
      flex-direction: row !important;
    }
  }
}

@media only screen and (min-width: 600px) {
  .cartProduct {
    .cartProductInfo {
      .cartProductQuantity {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        .setQuantity {
          min-width: $size-144;
          width: $size-144;
        }
      }
    }
  }
}
